---
title: 𝗺𝗼𝗱𝗮 — 數位發展部 Ministry of Digital Affairs
description: Coming soon August 2022.
layout: layout.njk
logo1:
  url: ./img/moda-logo-ver.svg
  text: moda logo
logo2:
  url: ./img/moda-logo-hor-1.svg
  text: moda logo horizontal
pdf:
  url: ./assets/pdf/moda_guideline.pdf
  text: moda guideline
slides:
  - ./assets/pdf/guideline-01.png
  - ./assets/pdf/guideline-04.png
  - ./assets/pdf/guideline-03.png
  - ./assets/pdf/guideline-05.png
  - ./assets/pdf/guideline-06.png
  - ./assets/pdf/guideline-07.png
  - ./assets/pdf/guideline-08.png
  - ./assets/pdf/guideline-09.png
  - ./assets/pdf/guideline-10.png
  - ./assets/pdf/guideline-15.png
  - ./assets/pdf/guideline-17.png
videos:
  - title: Aušrinė Armonaitė
    desc: Minister of Economy and Innovation of the Republic of Lithuania
    url: ./assets/video/ArmonaiteA.mp4
    thumbnail: ./assets/video/ArmonaiteA.png
  - title: Pia Mancini
    url: assets/video/PiaMancini.mp4
    thumbnail: ./assets/video/PiaMancini.png
  - title: Ro Khanna
    desc: Congressman of Silicon Valley
    url: assets/video/RepRoKhanna.mp4
    thumbnail: ./assets/video/RepRoKhanna.png
  - title: Freddy Lim
    url: assets/video/FreddyLim.mp4
    thumbnail: ./assets/video/FreddyLim.png
  - title: Steve Chen
    url: assets/video/SteveChen.mp4
    thumbnail: ./assets/video/SteveChen.png
  - title: Jun Murai
    url: assets/video/JunMurai.mp4
    thumbnail: ./assets/video/JunMurai.png
  - title: Arthur Huang
    url: assets/video/ArthurHuang.mp4
    thumbnail: ./assets/video/ArthurHuang.png
  - title: Sandra Oudkirk
    desc: Director of the American Institute in Taiwan, Taipei Office
    url: assets/video/SandraOudkirk.mp4
    thumbnail: ./assets/video/SandraOudkirk.png
  - title: Carlos José Fleitas Rodríguez
    desc: H.E. Ambassador of the Embassy of the Republic of Paraguay
    url: assets/video/EmbassyofParaguay.mp4
    thumbnail: ./assets/video/EmbassyofParaguay.png
  - title: John David Dennis
    desc: Representative of British Office
    url: assets/video/BritishOfficeTaipeiSubbed.mp4
    thumbnail: ./assets/video/BritishOfficeTaipeiSubbed.png
  - title: Jean-François Casabonne-Masonnave
    desc: Director of the French Office in Taipei
    url: assets/video/BureauFrançaisTaipei.mp4
    thumbnail: ./assets/video/BureauFrançaisTaipei.png
  - title: Ibrahim Akopari Ahmed
    desc: Trade Commissioner of the Nigeria Trade Office in Taiwan
    url: assets/video/NigeriaTradeOffice.mp4
    thumbnail: ./assets/video/NigeriaTradeOffice.png
  - title: Hiroyasu Izumi
    desc: Chief Representative of the Japan-Taiwan Exchange Association Taipei Office
    url: assets/video/JapanTaiwanExchangeAssociation.mp4
    thumbnail: ./assets/video/JapanTaiwanExchangeAssociation.png
  - title: Fernando Mariano Schmidt Hernández
    desc: Director of the Chilean Trade Office
    url: assets/video/ChileanTradeOffice.mp4
    thumbnail: ./assets/video/ChileanTradeOffice.png
  - title: Axel Heinrich Fritz Limberg
    desc: Executive Director of the German Trade Office Taipei
    url: assets/video/GermanTradeOffice.mp4
    thumbnail: ./assets/video/GermanTradeOffice.png
  - title: Jasmine Elise Huggins
    desc: H.E. Ambassador of the Embassy of Saint Christopher and Nevis
    url: assets/video/SaintChristopherSaintKittsandNevis.mp4
    thumbnail: ./assets/video/SaintChristopherSaintKittsandNevis.png
  - title: Gourangalal Das
    desc: Director General of the India-Taipei Association
    url: assets/video/IndiaTaipeiAssociation.mp4
    thumbnail: ./assets/video/IndiaTaipeiAssociation.png
  - title: Guido Jules Leopold Tielman
    desc: Representative of the Netherlands Office Taipei
    url: assets/video/NetherlandsOfficeTaipei.mp4
    thumbnail: ./assets/video/NetherlandsOfficeTaipei.png
  - title: Audrey Tang
    url: assets/video/audreyt.mp4
    thumbnail: ./assets/video/audreyt.png
---

<main class="container-fluid">
  <section class="p0">
    <div class="logo">
      <img src="{{ logo1.url }}" alt="{{ logo1.text }}">
    </div>
    <h1 class="mono">{{ description }}</h1>
  </section>

  <section class="p1">
    <div class="grid">
      <div>
        <h1>標誌設計 Logo Design</h1>
        <p>數位發展部標誌以「群眾・訊號・連結」的意涵出發，強調本部任務不僅關注技術應用，更擔任資源媒合之角色，橫跨了社會共融、產業轉型、全民數位韌性等層面。</p>
        <p>The logo of the Ministry of Digital Affairs (𝗺𝗼𝗱𝗮) incorporates the core ideas of “people,” “signal,” and “connectivity.” It spotlights our focus on digital applications as well as our role matching resources in key aspects such as social inclusion, industrial transformation, and digital resilience for all.</p>
      </div>
      <div class="logo">
        <img src="{{ logo2.url }}" alt="{{ logo2.text }}">
      </div>
    </div>
  </section>

  <section class="p2">
    <div class="grid">
      <div class="glide">
        <div class="glide__track" data-glide-el="track">
          <ul class="glide__slides">
            {% for slide in slides -%}
            <li class="glide__slide">
              <img src="{{ slide }}" alt="{{ loop.index }}" loading="lazy">
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div>
        <p>從平台到雲端，從開發端的編寫序列，擴散至全民參與，標誌造型由幾何化的 I/O 線段所共構，透過具方向性的符號組成隱喻，詮釋 Crowd to Cloud to Crowd 之系列進程；透過跨域合作，鏈結民主聯盟。</p>
        <p>The logo, composed of geometric I/O lines, spans platforms to cloud technology, from developer coding to civic participation. Its directional symbols are a metaphor illustrating the “Crowd to Cloud to Crowd” methodology of 𝗺𝗼𝗱𝗮 — connecting an alliance of democracies through cross-sector collaboration.</p>
        <a href="{{ pdf.url }}">Download visual guideline (CC0)</a>
      </div>
    </div>
  </section>
  
  <section class="p3">
    <div class="grid">
      <div>
        <p>有別於過往將數位應用視為冷色系的刻板印象，標誌的主色定調為明快、清透、愉悅的檸檬黃，部分應用品佐以中灰輔助色。藉色相及明度的對比，除了呼應人文本位、民主服務的特質，更冀盼數位發展能擴展至不同年齡與地區，使全民都得以親近。</p>
        <p>The 𝗺𝗼𝗱𝗮 logo’s color palette is characterized by a bright, clear, and uplifting lemon yellow offset with complementary grays. It steps outside the stereotype characterizing digital applications by harnessing the visual power of cool, contrasting hues. This is in sync with our humanistic nature, democratic services, and goal of open public engagement via policies benefiting all age groups and regions.</p>
      </div>
      <div class="color">
        <div class="principle"></div>
        <div class="support1"></div>
        <div class="support2"></div>
      </div>
    </div>
  </section>

  <section class="p4">
    <div class="glide-2">
      <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides">
          {% for video in videos -%}
          <li class="glide__slide">
            <picture>
              <source srcset="{{ video.thumbnail | replace(".png", ".webp") }}" type="image/webp">
              <img src="{{ video.thumbnail }}" alt="{{ video.title }}" loading="lazy">
            </picture>
            <h3>
              <a href="#" onClick="toggleModal(event)" data-target="modal-{{ loop.index }}">
                {{ video.title }} 
              </a>
            </h3>
            <p>{{ video. desc }}</p>
          </li>
          {% endfor %}
        </ul>
        {% for video in videos -%}
        <dialog id="modal-{{ loop.index }}">
          <article>
            <a href="#close" aria-label="Close" class="close" data-target="modal-{{ loop.index }}" onClick="toggleModal(event)"> </a>
            <video preload="none" controls>
              <source src="{{ video.url }}" type="video/mp4">
              <p>Your browser does not support the video tag. Download <a href="{{ video.url }}">video</a> instead.</p>
            </video>
          </article>
        </dialog>
        {% endfor %}
      </div>
    </div>
  </section>
</main>

<footer>
  <p class="mono">
    <a href="https://spdx.org/licenses/CC0-1.0">CC0</a> No copyright reserved.
    <br><small><a href="https://twitter.com/TAIWANmoda">#FreeTheFuture</a></small>
  </p>
</footer>

<script>
  new Glide('.glide', {
    rewind: false,
    perView: 1,
    peek: 20,
  }).mount()
  new Glide('.glide-2', {
    focusAt: "center",
    perView: 4,
    peek: 20,
    breakpoints: {
      800: {
        perView: 2,
      }
    },
  }).mount()
</script>
