<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="noindex, nofollow">
  <title>{{ title }}</title>
  <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
  <link rel="stylesheet" href="https://unpkg.com/@glidejs/glide/dist/css/glide.core.min.css">
  <script src="https://unpkg.com/@glidejs/glide/dist/glide.min.js"></script>
  <link rel="stylesheet" href="./styles/main.css">
  <script src="./js/modal.js"></script>
</head>
<body>
  {{ content | safe }}
</body>
</html>