@use 'theme';

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.logo, .fulltext {
  margin: 0 auto 2rem auto;
  @media (prefers-color-scheme: dark) {
    img {
      filter: invert(100%);
    }
  }
}

h1, h2 {
  margin: 0 auto;
}

h2 {
  font-size: 1rem;
  font-weight: normal;
}

.glide {
  max-width: 100%;
  width: 600px;
  margin: 3rem auto 0 auto;
}

.glide__arrows {
  text-align: center;
}